<a href="https://colab.research.google.com/github/ayoub-ait-idir/Titanic-Competition/blob/main/Titanic_Competition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clone Repo

In [1]:
! pwd

/content

In [2]:
! git clone https://github.com/ayoub-ait-idir/Titanic-Competition.git

Cloning into 'Titanic-Competition'...
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 11 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (11/11), done.

In [3]:
cd /content/Titanic-Competition

/content/Titanic-Competition

In [4]:
!ls

gender_submission.csv  test.csv			  train.csv
README.md	       Titanic_Competition.ipynb

In [5]:
!rm -rf README.md

In [6]:
!ls

gender_submission.csv  test.csv  Titanic_Competition.ipynb  train.csv

In [7]:
cd /content/Titanic-Competition/Titanic-Competition

[Errno 2] No such file or directory: '/content/Titanic-Competition/Titanic-Competition'
/content/Titanic-Competition

In [8]:
!ls

gender_submission.csv  test.csv  Titanic_Competition.ipynb  train.csv

# Import Packages

In [9]:
import pandas as pd

# Import Data

In [10]:
# import train and test data
train = pd.read_csv('/content/Titanic-Competition/train.csv')
test  = pd.read_csv('/content/Titanic-Competition/test.csv')
gender_submission = pd.read_csv('/content/Titanic-Competition/gender_submission.csv')

In [11]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]